.box1 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
}
.box2 {
    font-family: 'Potta One', cursive;
    font-size: 42px;
}
.box3 {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 42px; 
}
.box4 {
    font-family: 'Fraunces', serif;
    font-size: 42px;
}
.box5 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
}
.box6 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 42px;
}
.box7 {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
}
.box8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}