.tag {
    width: 200px;
}
.tags {
    width: 40px;
}
.cross {
    position: absolute;
    right: 515px;
    top: 0;
}
.bag {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
}